@model PracticeVelocity.CodingProblem.Models.OutputModel
@{
    ViewBag.Title = "Practice Velocity";
}


@Html.ActionLink("Diagnose","Diagnose","Home") @Html.ActionLink("Register", "Register", "Home")


@{
    if (Model != null && Model.Result != null && Model.Result.Count > 0)
    {
        <h4>Event Type: @Model.EventType.ToString()</h4>
        foreach (String result in Model.Result)
        {
        <p> @result </p>
            MvcHtmlString.Create("<br />");
        }
    }

}