@model PracticeVelocity.CodingProblem.Models.OutputModel
@{
    ViewBag.Title = "Home";
}


@Html.ActionLink("Diagnose","Diagnose","Home") @Html.ActionLink("Register", "Register", "Home")


<h2>Results for Event Type: @Model.EventType.ToString()</h2>

@{
    if (Model != null && Model.Result != null && Model.Result.Count > 0) {
    foreach (String result in Model.Result)
    {
        <p> @result </p>
            MvcHtmlString.Create("<br />");
        }
    }

}